.sales__new, .sales__sale{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 15.5rem;
    height: 14rem;
    padding-bottom: 0.6rem;
    margin-left: 4rem;

    background: #EEEEEE;
}

.sales__new{
    margin-bottom: 1rem;
}

.sales__new--price, .sales__sale--price{
    font-size:1.6rem;
    color: #888888;

    margin-top: 0.8rem;
    margin-left: 0.6rem;
}

.sales__new--tag, .sales__sale--tag{
    font-size: 1.3rem;
    color: #FFFFFF;

    background: #51D275;
    width: 3rem;
    padding-left: 0.6rem;
    height: 1.3rem;
    border-radius: 2rem;
    align-self: flex-end;
    position: relative;
    top: -1.6rem;
    right: 0.6rem;
}

.sales__sale--tag{
    background: #DC9730;
}

.sales__new--text, .sales__sale--text{
    width: 14rem;
    font-size:0.6rem;
    color: #555555;
    text-align: justify;

    margin-left: 0.6rem;
}

@media screen and (min-width: 768px){
    .sales{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .sales__new, .sales__sale{
        width: 319px;
        position: relative;
        right: 32px;
    }
}